# Mailmap for author rewriting
Kamrul Hasan Emon <ekamrul152@gmail.com> <22235103225@cse.bubt.edu.bd>
Kamrul Hasan Emon <ekamrul152@gmail.com> ress-rifu <22235103225@cse.bubt.edu.bd>
Asif Ali <asifalidewan20@gmail.com> <22235103225@cse.bubt.edu.bd>
Asif Ali <asifalidewan20@gmail.com> ress-rifu <22235103225@cse.bubt.edu.bd>
Jahidul Nishat <jahidulnishat111@gmail.com> <22235103225@cse.bubt.edu.bd>
Jahidul Nishat <jahidulnishat111@gmail.com> ress-rifu <22235103225@cse.bubt.edu.bd>
Khorshed Alam Shahin <khorshedsadhin81@gmail.com> <22235103225@cse.bubt.edu.bd>
Khorshed Alam Shahin <khorshedsadhin81@gmail.com> ress-rifu <22235103225@cse.bubt.edu.bd>
Md Hasib Al Masud Rifat <22235103225@cse.bubt.edu.bd> ress-rifu <22235103225@cse.bubt.edu.bd>
