EXPO_PUBLIC_SUPABASE_URL=https://rdkgfezrowfnlrbtiekn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJka2dmZXpyb3dmbmxyYnRpZWtuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU2NTIzMzcsImV4cCI6MjA2MTIyODMzN30.l-eDnZ15BScEIHfpjnTj7gJQhUUBQG5EBZXZnU0UKjU
EXPO_PUBLIC_BACKEND_API_URL=https://workhq-api-c0ff13762192.herokuapp.com
